.title{
    margin-top: 15vh;
    margin-bottom: 4rem;
}

.title h2{
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styling for the section tag */

.section-center{
    max-width: 620px;
}

/* Styling for the 'question' named tags */
.question{
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

/*Styling for the 'question-title' tag */
.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.question-title p{
    margin-bottom: 0;
    letter-spacing: 0.25rem;
    color: hsl(209, 61%, 16%);
}

/* Styling for the 'question-btn' tag */
.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: gold;
    transition: all 0.3s linear;
}

.question-btn:hover{
    transform: rotate(90deg);
}

/* Styling for the 'question-text' tag */
.question-text{
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p{
    margin-bottom: 0;
}


/* Hide text (modal) */
.question-text{
    display: none;
}

.show-text .question-text{
    display: block;
}

.minus-icon{
    display: none;
}

.show-text .minus-icon{
    display: inline;
}

.show-text .plus-icon{
    display: none;
}