.menu{
    padding: 5rem 0;
}

/* Title styling */
.title{
    text-align: center;
    margin-bottom: 2rem;
}

.underline{
    width: 5rem;
    height: 0.25rem;
    background: gold;
    margin-left: auto;
    margin-right: auto;
}

/* Filter button styling */

/* Menu item styling */
.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item{
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}